<html ng-app="firstStep">
 <head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <link rel="stylesheet" type="text/css" href="css/slick.css">
  <link rel="stylesheet" type="text/css" href="css/slick-theme.css">
  
  <script src="js/jquery-3.2.1.min.js"></script>
  <script src="./js/angular.min.js"></script>
   <script src="./js/javasc.js"></script>
   <script src="./js/controllers/main-controller.js"></script>
   <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title>task 16.11</title>
 </head>
 <body ng-controller="mainController">
   <div style="left: {{left}};" class="menu" >
      
      <div id="Kappe" >
         <img src="image/logo.png">
      </div>

      <ul>
        <a href="index.html"><li>HOME</li></a>
        <a href="page2.html"><li>WORK</li></a>
        <li><a href="#">ABOUT</a></li>
        <li><a href="#">BLOG</a></li>
        <li><a href="#">SERVICES</a></li>
        <li><a href="#">CONTACT</a></li>
      </ul>
    </div>
    <img ng-click="menu()" style="display: {{disp}};" id="icon-menu" class="icon-menu" src="image/menu.png">
    <img ng-click="menub()" style="display: {{disp2}};"  id="icon-menu2" class="icon-menu" src="image/menu.png">
 
             
         
<div class="inner-content" style="width: {{roz}};" >
        <div class="about-page">

          <div class="about-box">
            <div class="about-content" style="left: {{left2}};">
              <div class="about-section">
                <img alt="" src="image/photo1.jpg">
              <h1>Heavy Sand - Creative Photography</h1>
                  <p>Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.</p>
                  <p>Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. </p>     
                
              </div>
              <div class="about-section last-section">
                <h1>Related Project</h1>
                <div class="team-members">
                  
                      <div class="team-post">
                        <img alt="" src="image/1.jpg">
                      
                      </div>              
                      <div class="team-post">
                        <img alt="" src="image/2.png">
                                        
                   </div>                  
                      <div class="team-post">
                        <img alt="" src="image/3.png">
                        
                                          
                </div>                    
                      <div class="team-post">
                        <img alt="" src="image/4.jpg">
                                          
                    </div>                   
                      <div class="team-post">
                        <img alt="" src="image/5.jpg">
                           
                       </div>              
                      <div class="team-post">
                        <img alt="" src="image/6.jpeg">
                                           
                    </div>
                  </div> 
                  
                </div>              
              </div>
            </div>
            <div class="sidebar" style="left: {{left2}};">
              <div class="skills-progress">
               <h1>Post Info</h1>
                <ul>
                  <li>
                   
                    <p><span><img alt="" src="image/user.png"></span> Premium Layers</p><hr/>
                  </li>
                  <li>
                    <p><span><img alt="" src="image/heart.png"></span> 138 Likes</p><hr/>
                  </li>
                  <li>
                    <p><span><img alt="" src="image/calendar.png"></span> 14 Jannuary, 2014</p><hr/>
                  </li>
                  <li>
                    <p><span><img alt="" src="image/comment.png"></span> 4 Comments</p><hr/>
                  </li>
                </ul>
              </div>

              <div class="tags-box">
                <h1>Tags</h1>
                <ul>
                  <li>
                    web design
                  </li>
                  <li>
                    photography
                  </li>
                  <li>
                    development
                  </li>
                  <li>
                    php
                  </li>
                  <li>
                    ecommerce
                  </li>
                  <li>
                    graphic
                  </li>
                </ul>
              </div>
 <div class="project-gallery">
                <h1>Project Gallery</h1>
                <div class="team-gal">
                  
                      <div class="gal-post">
                        <img alt="" src="image/1.jpg">
                      
                      </div>              
                      <div class="gal-post">
                        <img alt="" src="image/2.png">
                                        
                   </div>                  
                      <div class="gal-post">
                        <img alt="" src="image/3.png">
                        
                                          
                </div>                    
                      <div class="gal-post">
                        <img alt="" src="image/4.jpg">
                                          
                    </div>                   
                      <div class="gal-post">
                        <img alt="" src="image/5.jpg">
                           
                       </div>              
                      <div class="gal-post">
                        <img alt="" src="image/6.jpeg">
                                           
                    </div>
                  </div> 
                  
                </div>          
              <div class="services feature">
                <h1>Project Features</h1>
                <ul>
                  <li>Responsive Layout</li>
                  <li>Font Awesome Icons</li>
                  <li>Clean & Commented Code</li>
                  <li>Pixel perfect Design</li>
                  <li>Highly Customizable</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>






 
 </body>
</html>