﻿<!DOCTYPE html>
<html ng-app="firstStep">
<head>
    <title>Angular routing</title>
	<meta charset="utf-8" />
<link rel="stylesheet" type="text/css" href="css/style.css">
  <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
    
<script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/angular-route.min.js"></script>

    <script src="app/app.js"></script>

    <script src="app/controllers/main-controller.js"></script>
 <script src="app/directives/example.js"></script>
    <script src="app/router.js"></script>
</head>
 <body ng-controller="mainController">
   <template-example style="display: {{disp}};"
  another-var="-285" 
                    on-button-click="showModal"></template-example>
                    <template-example style="display: {{disp2}};"
  another-var="0" 
                    on-button-click="showModal()"></template-example>
  
  </div>
    <img ng-click="menu()" style="display: {{disp}};" id="icon-menu" class="icon-menu" src="image/menu.png">
    <img ng-click="menub()" style="display: {{disp2}};"  id="icon-menu2" class="icon-menu" src="image/menu.png">
 
             
         
 <div ng-view></div>






 
 </body>
</html>
