body{
	position: relative;
}
table {
  background: white;
  border-collapse: collapse;
  text-align: left;
}
table th {	
  border-bottom: 1px solid #777777; 
  background: linear-gradient(#9595b6, #5a567f);
  color: white;
  padding: 10px 15px;
}


table td {
  border-bottom: 1px solid #e3eef7;
  padding: 10px 15px;
}

.table-filters td{
	border:none !important;
	background-color: white;
	padding-bottom: 50px !important;
}
.table-filters input{
	height: 40px;
}
header{
	background-color: #191970;
}
h1{
	margin-left: 50px;
	color: white;
	background-color: #191970;
}
h3{
	margin-left: 50px;

}
.thing{
	width: 20px;
}
.fill {
  background-color: #191970;
  color: white;
  width: 80px;
    height: 40px;
    position: relative;
    left:-100px;
} 
.pen{
	 width: 50px;
    height: 50px;
    background-color: white;
    border: none;
}
.pen img{
	width: 25px;
    height: 25px;
}
#plus {
	    background-color: #FF1493;
    border: none;
    left: 115px;
    width: 55px;
    height: 55px;
    top: 10px;
    border-radius: 50px;
    padding: 0;
    font-size: 25pt;
    color:white;
   }
  




   #modal_form {
	width: 800px; 
	height: 300px; 
	border-radius: 5px;
	border: 3px #000 solid;
  background: #f5ffff;
	position: fixed; 
	top: 45%; 
	left: 30%;
	margin-top: -150px;
	margin-left: -150px; 
	display: none; 
	opacity: 0; 
	z-index: 5; 
	padding: 20px 10px;
}
#modal_form #modal_close {
	
	position: absolute;
	top: 290px;
    left: 245px;
	display: block;
}
#modal_form #modal_add {
	
	position: absolute;
	top: 290px;
    left: 370px;
	display: block;
}
#modal_red{
position: absolute;
	top: 290px;
    left: 370px;
	display: block;
}
form{
	position: relative;
	left:30%;
}
#hh{
	color: white;
	margin-left: 30%;	
}
.zag{
	background-color:#191970;
}
#overlay {
	z-index:3; 
	position:fixed; 
	background-color:#000;
	opacity:0.8; 
	width:100%; 
	height:100%; 
	top:0; 
	left:0;
	display:none; 
}
#modal_form input{
border:none;
}