 <div  style="left: {{anotherVar}};" class="menu" >
      
      <div id="Kappe" >
         <img src="image/logo.png">
      </div>

      <ul>
        <a href="index.html"><li>HOME</li></a>
        <a href="page2.html"><li>WORK</li></a>
        <li><a href="#">ABOUT</a></li>
        <li><a href="#">BLOG</a></li>
        <li><a href="#">SERVICES</a></li>
        <li><a href="#">CONTACT</a></li>
      </ul>
    </div>
   

<img ng-click="onButtonClick(anotherVar)"  id="icon-menu" class="icon-menu" src="image/menu.png">