 html { 
 	overflow-x:  hidden; }
body{
	 left: 0;
  margin: 0;
  overflow: hidden;
  position: relative;
}
.allim{
	position: relative;
}
.image{
	width: 300px;
	height: 300px;
	float: left;
}
.image img{
	width: 300px;
	height: 300px;
}


.menu {
  background: #555 url('../image/menu-bg.jpg') repeat left top;
  left: -285px;
  height: 100%;
  position: fixed;
  width: 285px;
}



.menu ul {
  border-top: 1px solid #555;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  border-bottom: 1px solid #555;
  line-height: 45px;
  padding-bottom: 3px;
  padding-right: 20px;
  padding-top: 3px;
  text-align: right;
}

.menu li:hover {
  cursor: pointer;
  background-color: blue;
  }

.menu a {
  color: #fff;
  font-size: 15px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
}

#Kappe {
  background-color: white;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

#icon-menu {
 position: absolute;
 cursor: pointer;
	width: 25px;
	height: 25px;
	float: left;
	left:0;
	z-index: 5;
}

.image:hover > .hover-box {

    display: block;
}
 .hover-box {
    position: absolute;
width: inherit;
    height: inherit;
    background: rgba(36,176,174,0.9);
    text-align: center;
    color: #fff;
      font-family: 'Roboto', sans-serif;
    display: none;
}
p{

	    margin-top: 15%;
	    margin-bottom: 10%;
}
.arrow img{
	border:1px solid #fff;
	border-radius: 50%;
	width: 25%;
	height: 25%;
}

#info-menu{
	border:1px solid #fff;
	border-radius: 50%;
 position: absolute;
 cursor: pointer;
	width: 50%;
	height: 50%;
	    top: 25%;
    left: 25%;
	
	z-index: 4;
}
#info-menu img {
	    top: 25%;
    left: 25%;
 position: absolute;
 cursor: pointer;
	width: inherit;
	height: inherit;
	
	
	z-index: 4;
}
.info{
	 position: absolute;
    cursor: pointer;
	width: 100px;
	height: 100px;
	float: right;
	right:0;
	z-index: 4;
	  background: rgba(36,176,174,0.9);
}
.info-content{
    background: rgba(0,0,0,0.7);
    color: white;
    padding: 20px 18px 4px;
    width: 285px;
    position: absolute;
    right: -325px;
    top: 90px;
}
.info-content li{
   list-style: none;
}
.info-content img{
   width: 20px !important;
   height: 20px !important;
}
.hover-box>div{
    margin-top: 10%;
}