﻿<iframe class="carta" src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d41792.28202221407!2d33.408614400000005!3d49.105305599999994!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sua!4v1512385409797"  height="900" frameborder="0" style="border:0" allowfullscreen></iframe>
<div class="contact-box map"  style="left: {{left2}};">
						<div class="contact-info">
							<h1>Get in touch with us</h1>
							<p>Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio.</p>
						</div>
						<form id="contact-form">
							<h1>Send us a Message</h1>
							<div class="text-fields">
								<div class="float-input">
									<input name="name" id="name" type="text" placeholder="Name">
									<span><i class="fa fa-user"></i></span>
								</div>
								<div class="float-input">
									<input name="mail" id="mail" type="text" placeholder="e-mail">
									<span><i class="fa fa-envelope-o"></i></span>
								</div>
								<div class="float-input">
									<input name="website" id="website" type="text" placeholder="website">
									<span><i class="fa fa-link"></i></span>
								</div>
							</div>

							<div class="submit-area">
								<textarea name="comment" id="comment" placeholder="Message"></textarea>
								<input type="submit" id="submit_contact" class="main-button" value="Send Now">
								<div id="msg" class="message"></div>
							</div>
						</form>
					</div>