﻿<div class="inner-content" style="width: {{roz}};" >
        <div class="about-page">

          <div class="about-box">
            <div class="about-content" style="left: {{left2}};">
              <div class="about-section">
                <img alt="" src="image/photo1.jpg">
                  <my-example></my-example>
                                  <my-text></my-text>
 <my-text-end></my-text-end>
              </div>
              <div class="comment-section">
									<h1>7 Comments</h1>

									<ul class="comment-tree">
										<li>
											<div class="comment-box">
												<img alt="" src="image/avatar1.jpg">
												<div class="comment-content">
													<h6>ShaneFreer <span>/ 4 minutes ago</span></h6>
													<p>great post brainartworks</p>
												</div>
											</div>
											<ul class="depth">
												<li>
													<div class="comment-box">
														<img alt="" src="image/avatar2.jpg">
														<div class="comment-content">
															<h6>Collis Ta'eed <span>/ 12 minutes ago</span></h6>
															<p>yeah i  really like it too, very useful!</p>
														</div>
													</div>
													<ul class="depth">
														<li>
															<div class="comment-box">
																<img alt="" src="image/avatar3.jpg">
																<div class="comment-content">
																	<h6>Jremick <span>/ 20 minutes ago</span></h6>
																	<p>i found this post very useful too, the comment form works just perfect, keep it up guys :)</p>
																</div>
															</div>
															<ul class="depth">
																<li>
																	<div class="comment-box">
																		<img alt="" src="image/avatar4.jpg">
																		<div class="comment-content">
																			<h6>joshjanssen <span>/ 36 minutes ago</span></h6>
																			<p>yep, especially when it comes to comment testing</p>
																		</div>
																	</div>
																</li>
															</ul>
														</li>

														<li>
															<div class="comment-box">
																<img alt="" src="image/avatar5.jpg">
																<div class="comment-content">
																	<h6>Stewboon <span>/ 40 minutes ago</span></h6>
																	<p>nice job!</p>
																</div>
															</div>
														</li>
													</ul>
												</li>

												<li>
													<div class="comment-box">
														<img alt="" src="image/avatar6.jpg">
														<div class="comment-content">
															<h6>bensmithett <span>/ 42 minutes ago</span></h6>
															<p>couldn’t be better :D</p>
														</div>
													</div>
												</li>
											</ul>
										</li>

										<li>
											<div class="comment-box">
												<img alt="" src="image/avatar7.jpg">
												<div class="comment-content">
													<h6>justinfrench <span>/ 48 minutes ago</span></h6>
													<p>looks very promising</p>
												</div>
											</div>
										</li>
									</ul>
								</div>
								<form class="comment-form">
									<h1>Leave a comment</h1>
									<div class="text-fields">
										<div class="float-input">
											<input name="name" id="name" type="text" placeholder="Name">
											<span><i class="fa fa-user"></i></span>
										</div>
										<div class="float-input">
											<input name="mail" id="mail" type="text" placeholder="e-mail">
											<span><i class="fa fa-envelope-o"></i></span>
										</div>
										<div class="float-input">
											<input name="website" id="website" type="text" placeholder="website">
											<span><i class="fa fa-link"></i></span>
										</div>
									</div>

									<div class="submit-area">
										<textarea name="comment" id="comment" placeholder="Message"></textarea>
										<input type="submit" id="submit_contact" class="main-button" value="Post A Comment">
									</div>
								</form>
                  </div> 
                  
                </div>         
            <div class="sidebar" style="left: {{left2}};">
              <div class="skills-progress">
               <h1>Post Info</h1>
                <ul>
                  <li>
                   
                    <p><span><img alt="" src="image/user.png"></span> Premium Layers</p><hr/>
                  </li>
                  <li>
                    <p><span><img alt="" src="image/heart.png"></span> 138 Likes</p><hr/>
                  </li>
                  <li>
                    <p><span><img alt="" src="image/calendar.png"></span> 14 Jannuary, 2014</p><hr/>
                  </li>
                  <li>
                    <p><span><img alt="" src="image/comment.png"></span> 4 Comments</p><hr/>
                  </li>
                </ul>
              </div>

              <div class="tags-box">
                <h1>Tags</h1>
                <ul>
                  <li>
                    web design
                  </li>
                  <li>
                    photography
                  </li>
                  <li>
                    development
                  </li>
                  <li>
                    php
                  </li>
                  <li>
                    ecommerce
                  </li>
                  <li>
                    graphic
                  </li>
                </ul>
              </div>
 <div class="project-gallery">
                <h1>Project Gallery</h1>
                <div class="team-gal">
                  
                      <div class="gal-post">
                        <img alt="" src="image/1.jpg">
                      
                      </div>              
                      <div class="gal-post">
                        <img alt="" src="image/2.png">
                                        
                   </div>                  
                      <div class="gal-post">
                        <img alt="" src="image/3.png">
                        
                                          
                </div>                    
                      <div class="gal-post">
                        <img alt="" src="image/4.jpg">
                                          
                    </div>                   
                      <div class="gal-post">
                        <img alt="" src="image/5.jpg">
                           
                       </div>              
                      <div class="gal-post">
                        <img alt="" src="image/6.jpeg">
                                           
                    </div>
                  </div> 
                  
                </div>          
              <list-example></list-example>
            </div>
          </div>
        </div>