 html { 
 	overflow-x:  hidden; }
body{
	 left: 0;
  margin: 0;
  overflow: hidden;
  position: relative;
   background: rgb(180, 183, 184);
}
.some-post{
  margin: 0.4%;
   min-width: 200px;
  width: 18%;
}
.post{
  width: 100%;
}

.menu {
  background: #555 url('../image/menu-bg.jpg') repeat left top;
  left: -285px;
  height: 100%;
  position: fixed;
  width: 285px;
}



.menu ul {
  border-top: 1px solid #555;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  border-bottom: 1px solid #555;
  line-height: 45px;
  padding-bottom: 3px;
  padding-right: 20px;
  padding-top: 3px;
  text-align: right;
}

.menu li:hover {
  cursor: pointer;
  background-color: blue;
  }

.menu a {
  color: #fff;
  font-size: 15px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
}

#Kappe {
  background-color: white;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}
#Kappe img {
  background-color: white;
  width: 40%;
}
#icon-menu {
 position: absolute;
 cursor: pointer;
	width: 25px;
	height: 25px;
	float: left;
	left:0;
	z-index: 5;
}



#info-menu{
	border:1px solid #fff;
	border-radius: 50%;
 position: absolute;
 cursor: pointer;
	width: 50%;
	height: 50%;
	    top: 25%;
    left: 25%;
	
	z-index: 4;
}
#info-menu img {
	    top: 25%;
    left: 25%;
 position: absolute;
 cursor: pointer;
	width: inherit;
	height: inherit;
	
	
	z-index: 4;
}
.info{
	 position: absolute;
      top: 30px;
    cursor: pointer;
	width: 100px;
	height: 100px;
	float: right;
	right:0;
	z-index: 4;
	  background: rgba(36,176,174,0.9);
}
.info-content{
    background: rgba(0,0,0,0.7);
    color: white;
    padding: 20px 18px 4px;
    width: 285px;
    position: absolute;
    right: -325px;
    top: 130px;
}
.info-content li{
   list-style: none;
}
.info-content img{
   width: 20px !important;
   height: 20px !important;
}


.post{
  padding: 20px;
}

 

.gallery-post{
 
  text-align: center;
  background-color: white;

}
.gallery-post .flexslider{
 height: 50%;

}
.gallery-post p{

 width: 50%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.video-post p{

 width: 50%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.image-post p{

 width: 50%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.gallery-post .content{
 margin-left: 10%;
 margin-right: 10%;
}
 img{
      width: 100%;
 

}
 .post-content{
 margin-left: 10%;
 margin-right: 10%;
}

 ul {
  border-top: 1px solid rgb(180, 183, 184);
  list-style: none;
  margin-top: 10%;
  padding: 5%;
  padding-bottom: 0;
}

 li {
  text-align: right;
}


.link-post{

  background: rgba(36,176,174,0.9);
  text-align: center;
}
.link-post .post-content{
  margin: 5%; 
}


.video-post{

   text-align: center;

   background-color: white;
}
iframe{
  width: 100%;
  border:none;
}
.aside-post{

   background: #333;
   text-align: center;
}
.aside-post h2{
  color:white;
     font-size: 18px;
    font-family: 'Roboto', sans-serif;
}
.aside-post p{
  color:#9c9c9c;
     font-size: 15px;
    font-family: 'Roboto', sans-serif;
}
.quote-post{

  background: #242b2e;
    text-align: center;
    color: white;
}
.quote-post span{
 
    color: rgba(36,176,174,0.9);
     font-size: 25px;
}
.image-post{
 
  
 text-align: center;
  
   background-color: white;
}
