
body{
  margin:0px;
}
.visit{
  margin: 70px;
  background-color: #B22222;
  width: 400px;
  height: 200px;
  position: relative;
}
.new{
  margin-left: 570px;
  position: absolute;
  top: 0px;
  width: 0;
}
p{
  text-align: center;
}
.name{
  font-size: 30px;
}
.adress{
  margin-top: 50px;
}
.forma{
  padding-top: 20px;
  background-color: grey;
   height: 270px;
}