 html { 
 	overflow-x:  hidden; }
body{
	 left: 0;
  margin: 0;
  overflow: hidden;
  position: relative;
   background: white;
}
.about-box{
  width: 50%;
}
.about-content {
    width: 100%;
    float: left;
   position: relative;
    border-right: 1px solid #e5e5e5;
}
.about-section h1 {
    color: #000;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    
}
.about-content p {
    color: #a3a3a3;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin: 0 0 25px;
    line-height: 30px;
}
.about-section {
   padding: 30px 30px 0;
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 20px;
}
.about-section > img {
    width: 100%;
    margin-bottom: 20px;
}
.last-section {
    border: none;
    margin: 0;
}
.loading {
    background: grey;
    height: 20px;
}
.team-pad{
   width: 30%;
    float: left;
    position: relative;
   padding: 1%;
}
.team-post img {
    width: 33%;
    float: left;
    position: relative;
}
.sidebar {
    width: 48%;
    padding-left: 1%;
    float: left;
    position: relative;
}
.team-posts:hover > .team-hover {

    display: block;
}
.team-posts img {
    width: 100%;
}
 .team-hover {
  z-index: 50;
 top: 3%;
    position: absolute;
    width: 94%;
    height: 94%;
    background: rgba(36,176,174,0.9);
    text-align: center;
    color: #fff;
      font-family: 'Roboto', sans-serif;
    display: none;
}
 .team-hover {
  z-index: 50;
 top: 3%;
    position: absolute;
    width: 94%;
    height: 94%;
    background: rgba(36,176,174,0.9);
    text-align: center;
    color: #fff;
      font-family: 'Roboto', sans-serif;
    display: none;
}
 

.menu {
  background: #555 url('../image/menu-bg.jpg') repeat left top;
  left: -285px;
  height: 100%;
  position: fixed;
  width: 285px;
}



.menu ul {
  border-top: 1px solid #555;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  border-bottom: 1px solid #555;
  line-height: 45px;
  padding-bottom: 3px;
  padding-right: 20px;
  padding-top: 3px;
  text-align: right;
}

.menu li:hover {
  cursor: pointer;
  background-color: blue;
  }

.menu a {
  color: #fff;
  font-size: 15px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
}

#Kappe {
  background-color: white;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}
#Kappe img {
  background-color: white;
  width: 40%;
}
#icon-menu {
 position: absolute;
 cursor: pointer;
	width: 25px;
	height: 25px;
	float: left;
	left:0;
	z-index: 5;
}
#icon-menu2 {
 position: absolute;
 cursor: pointer;
  width: 25px;
  height: 25px;
  float: left;
  left:285px;
  z-index: 5;
}



#info-menu{
	border:1px solid #fff;
	border-radius: 50%;
 position: absolute;
 cursor: pointer;
	width: 50%;
	height: 50%;
	    top: 25%;
    left: 25%;
	
	z-index: 4;
}
#info-menu img {
	    top: 25%;
    left: 25%;
 position: absolute;
 cursor: pointer;
	width: inherit;
	height: inherit;
	
	
	z-index: 4;
}
.info{
	 position: absolute;
      top: 30px;
    cursor: pointer;
	width: 100px;
	height: 100px;
	float: right;
	right:0;
	z-index: 4;
	  background: rgba(36,176,174,0.9);
}
.info-content{
    background: rgba(0,0,0,0.7);
    color: white;
    padding: 20px 18px 4px;
    width: 285px;
    position: absolute;
    right: -325px;
    top: 130px;
}
.info-content li{
   list-style: none;
}
.info-content img{
   width: 20px !important;
   height: 20px !important;
}


.progress{
      background: #fff;
    border: 1px solid #dbdbdb;
}

.sidebar h1 {
    color: #000;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
  
}
.skills-progress li {
      list-style: none;
   
}
.skills-progress p {
      color: #a3a3a3;
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
   
}

.skills-progress img {
     width: 20px !important;
   height: 20px !important;
   
}
.client-test img{
float:left;
}
.client-test{
  height: 80px;
background: rgba(36,176,174,0.9);
}
.client-test h3{
  padding-top: 30px;
      color: #fff;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
}
.testimonial p{
  color: #a3a3a3;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
  float: right;
  border: 1px solid #ececec;
  margin: 0;
    padding: 1em;
}
.services{
  float: left;
}
.services li{
      color: #848484;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}
@media (max-width: 600px) {
  .about-box{
  width: 100%;
}
.sidebar {
    width: 99%;
}
}



.tags-box ul li {
    border: 2px solid #ececec;
    padding: 10px;
  border-radius: 10px;
  list-style: none;
    display: inline-block;
    margin-right: 8px;
    margin-bottom: 10px;
     color: #848484;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}
.feature  li{
    list-style: none;
}
.feature  li:before{
    content: '✔ ';
   color: #848484;
}
.gal-post{
  float:left;
  margin:5px;
  width: 15%;
  height: 15%;
  position: relative;
}
.gal-post img{
  width: 100%;
  height: 100%;
}
.comment-section h1 {
    margin-bottom: 15px;
}

.comment-box {
    overflow: hidden;
    margin-bottom: 30px;
}

.comment-box img {
    float: left;
    max-width: 80px;
}
ul.depth {
    margin-left: 100px;
}

ul.depth li {
    position: relative;
}

ul.depth li:before {
    position: absolute;
    content: '';
    width: 40px;
    height: 40px;
    top: 0;
    left: -60px;
    border-left: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
}

.comment-content {
    padding-left: 100px;
}

.comment-content h6  {
    color: #3c3c3c;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    line-height: 22px;
    border-bottom: 1px solid #e5e5e5;
    display: inline-block;
    margin: -4px 0 7px;
    padding-bottom: 4px;
}

.comment-content h6 span {
    color: #d1d1d1;
    font-style: normal;
}

.comment-content p {
    color: #a3a3a3;
    line-height: 26px;
}
#contact-form {
    overflow: hidden;
}

.text-fields {
    float: left;
    width: 45%;
    padding-right: 10px;
}

.submit-area {
    float: right;
    width: 50%;
}

.comment-form {
    overflow: hidden;
}

.float-input {
    position: relative;
    padding-left: 58px;
}

.float-input span {
    position: absolute;
        width: 55px;
    height: 52px;
    border: 1px solid #eaeaea;
    top: 0px;
    left: 0px;
    z-index: 2;
    text-align: center;
}

.float-input span i {
    line-height: 32px;
    font-size: 12px;
    color: #1ab5b3;
    display: inline-block;
    width: 32px;
    height: 32px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #1ab5b3;
    margin-top: 13px;
}

#contact-form input[type="text"],
#contact-form textarea,
.comment-form input[type="text"],
.comment-form textarea {
    color: #848484;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    border: 1px solid #eaeaea;
    border-left: none;
    font-weight: 300;
    border-radius: 0px;
    outline: none;
    width: 100%;
    padding: 18px;
        padding-right: 0;
    display: block;
    margin-bottom: 10px; 
}

#contact-form input[type="text"]:focus + span i,
.comment-form input[type="text"]:focus + span i {
    color: #fff;
    background: #1ab5b3;
}

#contact-form textarea,
.comment-form textarea {
    height: 80px;
    border: 1px solid #eaeaea;
}

#contact-form input[type="submit"],
.comment-form input[type="submit"] {
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    padding: 19px;
    background: #1ab5b3;
    text-transform: uppercase;
    border: none;
}

#contact-form input[type="submit"]:hover,
.comment-form input[type="submit"]:hover {
    opacity: 0.8;
}

#contact-form .message,
.comment-form .message {
    height:20px;
    font-size:13px;
    font-family: 'Open Sans', sans-serif;
    float: none;
    margin-top: 5px;
}

#contact-form .message.error,
.comment-form .message.error {
    color:#eb2c06;
}

#contact-form .message.success,
.comment-form .message.success {
    color:#1e9397;
}
.carta{
  width: 100%;
}
.map{
  width: 50%;
  position: absolute;
  top:0;
  z-index: 10;
  background-color: white;
  margin:40px;
       color: #a3a3a3;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
     padding-left: 5px;
}
.map h1{
       color: black;
    font-size: 24px;

}