body{
	position: relative;
}
.cl1{
	width: 200px;
	height: 600px;
	background-color: yellow; 
	position: relative;
}
.cl1 img{
	width: 50px;
	height: 50px;
	position: absolute;
	bottom:0;
	left:75px;


}


.cl2{
	position: absolute;
	width: 200px;
	height: 600px;
	background-color: red; 
	left: 250px;
	top: 0;
}
.cl2 img{
	width: 50px;
	height: 50px;
	position: absolute;
	bottom:0;
	left:75px;


}