<html ng-app="firstStep">
 <head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <link rel="stylesheet" type="text/css" href="css/slick.css">
  <link rel="stylesheet" type="text/css" href="css/slick-theme.css">
  
  <script src="js/jquery-3.2.1.min.js"></script>
  <script src="./js/angular.min.js"></script>
   <script src="./js/javasc.js"></script>
   <script src="./js/controllers/main-controller.js"></script>
   <script src="js/directives/example.js"></script>
   <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title>task 16.11</title>
 </head>
 <body ng-controller="mainController">
 <div>

  <template-example style="display: {{disp}};"
  another-var="-285" 
                    on-button-click="showModal"></template-example>
                    <template-example style="display: {{displays}};"
  another-var="0" 
                    on-button-click="showModal"></template-example>
  
  </div>
   
    <img ng-click="menub()" style="display: {{disp2}};"  id="icon-menu2" class="icon-menu" src="image/menu.png">
 
             
         
<div class="inner-content" style="width: {{roz}};" >
        <div class="about-page">

          <div class="about-box">
            <div class="about-content" style="left: {{left2}};">
              <div class="about-section">
                <img alt="" src="image/photo1.jpg">
                  <my-example></my-example>
                                  <my-text></my-text>
 <my-text-end></my-text-end>
              </div>
              <div class="about-section last-section">
                <h1>Related Project</h1>
                <div class="team-members">
                  
                      <div class="team-post">
                        <img alt="" src="image/1.jpg">
                      
                      </div>              
                      <div class="team-post">
                        <img alt="" src="image/2.png">
                                        
                   </div>                  
                      <div class="team-post">
                        <img alt="" src="image/3.png">
                        
                                          
                </div>                    
                      <div class="team-post">
                        <img alt="" src="image/4.jpg">
                                          
                    </div>                   
                      <div class="team-post">
                        <img alt="" src="image/5.jpg">
                           
                       </div>              
                      <div class="team-post">
                        <img alt="" src="image/6.jpeg">
                                           
                    </div>
                  </div> 
                  
                </div>              
              </div>
            </div>
            <div class="sidebar" style="left: {{left2}};">
              <div class="skills-progress">
               <h1>Post Info</h1>
                <ul>
                  <li>
                   
                    <p><span><img alt="" src="image/user.png"></span> Premium Layers</p><hr/>
                  </li>
                  <li>
                    <p><span><img alt="" src="image/heart.png"></span> 138 Likes</p><hr/>
                  </li>
                  <li>
                    <p><span><img alt="" src="image/calendar.png"></span> 14 Jannuary, 2014</p><hr/>
                  </li>
                  <li>
                    <p><span><img alt="" src="image/comment.png"></span> 4 Comments</p><hr/>
                  </li>
                </ul>
              </div>

              <div class="tags-box">
                <h1>Tags</h1>
                <ul>
                  <li>
                    web design
                  </li>
                  <li>
                    photography
                  </li>
                  <li>
                    development
                  </li>
                  <li>
                    php
                  </li>
                  <li>
                    ecommerce
                  </li>
                  <li>
                    graphic
                  </li>
                </ul>
              </div>
 <div class="project-gallery">
                <h1>Project Gallery</h1>
                <div class="team-gal">
                  
                      <div class="gal-post">
                        <img alt="" src="image/1.jpg">
                      
                      </div>              
                      <div class="gal-post">
                        <img alt="" src="image/2.png">
                                        
                   </div>                  
                      <div class="gal-post">
                        <img alt="" src="image/3.png">
                        
                                          
                </div>                    
                      <div class="gal-post">
                        <img alt="" src="image/4.jpg">
                                          
                    </div>                   
                      <div class="gal-post">
                        <img alt="" src="image/5.jpg">
                           
                       </div>              
                      <div class="gal-post">
                        <img alt="" src="image/6.jpeg">
                                           
                    </div>
                  </div> 
                  
                </div>          
              <list-example></list-example>
            </div>
          </div>
        </div>
      </div>






 
 </body>
</html>