<html ng-app="firstStep">
 <head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <link rel="stylesheet" type="text/css" href="css/slick.css">
  <link rel="stylesheet" type="text/css" href="css/slick-theme.css">
  
  <script src="js/jquery-3.2.1.min.js"></script>
  <script src="./js/angular.min.js"></script>
   <script src="./js/javasc.js"></script>
   <script src="./js/controllers/main-controller.js"></script>
   <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title>task 09.11</title>
 </head>
 <body ng-controller="mainController">
   <div style="left: {{left}};" class="menu" >
      
      <div id="Kappe" >
         <img src="image/logo.png">
      </div>

      <ul>
       <a href="index.html"><li>HOME</li></a>
        <a href="page2.html"><li>WORK</li></a>
        <li><a href="#">ABOUT</a></li>
        <li><a href="#">BLOG</a></li>
        <li><a href="#">SERVICES</a></li>
        <li><a href="#">CONTACT</a></li>
      </ul>
    </div>
    <img ng-click="menu()" style="display: {{disp}};" id="icon-menu" class="icon-menu" src="image/menu.png">
    <img ng-click="menub()" style="display: {{disp2}};"  id="icon-menu2" class="icon-menu" src="image/menu.png">
 
             
         
<div class="inner-content" style="width: {{roz}};" >
        <div class="about-page">

          <div class="about-box">
            <div class="about-content" style="left: {{left2}};">
              <div class="about-section">
                <img alt="" src="image/about.jpg">
                <h1>Who we are</h1>
                <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. </p>
                <p>Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas quam, ut aliquam massa nisl quis neque. Suspendisse in orci enim.</p>                
              </div>
              <div class="about-section last-section">
                <h1>Our Staff</h1>
                <div class="team-members">
                  
                    <div class="team-pad">
                      <div class="team-posts">
                        <img alt="" src="image/team1.jpg">
                        <div class="team-hover">
                            <h3>John Smith</h3>
                            <span>Web Developer</span>
                          
                        </div>
                      </div> 
                      </div>                     
                    <div class="team-pad">
                      <div class="team-posts">
                        <img alt="" src="image/team2.jpg">
                        <div class="team-hover">
                          <div class="team-data">
                            <h3>John Smith</h3>
                            <span>Web Developer</span>
                          </div>
                        </div>
                      </div>                      
                   </div>                     
                    <div class="team-pad">
                      <div class="team-posts">
                        <img alt="" src="image/team3.jpg">
                        <div class="team-hover">
                          <div class="team-data">
                            <h3>John Smith</h3>
                            <span>Web Developer</span>
                          </div>
                        </div>
                      </div>                      
                </div>                     
                    <div class="team-pad">
                      <div class="team-posts">
                        <img alt="" src="image/team4.jpg">
                        <div class="team-hover">
                          <div class="team-data">
                            <h3>John Smith</h3>
                            <span>Web Developer</span>
                          </div>
                        </div>
                      </div>                      
                    </div>                     
                    <div class="team-pad">
                      <div class="team-posts">
                        <img alt="" src="image/team5.jpg">
                        <div class="team-hover">
                          <div class="team-data">
                            <h3>John Smith</h3>
                            <span>Web Developer</span>
                          </div>
                        </div>
                      </div>       
                       </div>                     
                    <div class="team-pad">
                      <div class="team-posts">
                        <img alt="" src="image/team6.jpg">
                        <div class="team-hover">
                          <div class="team-data">
                            <h3>John Smith</h3>
                            <span>Web Developer</span>
                          </div>
                        </div>
                      </div>                      
                    </div>
                  </div> 
                  
                </div>              
              </div>
            </div>
            <div class="sidebar" style="left: {{left2}};">
              <div class="skills-progress">
                <h1>Our Skills</h1>
                <p>Website Desingn<span> {{Deswidth}}</span></p>
    <div class="progress">
    <div class="loading" style="width: {{Deswidth}};"></div>
    </div>
                <p>Website Development  <span>{{Devwidth}}</span></p>
    <div class="progress">
    <div class="loading" style="width: {{Devwidth}};"></div>
    </div>
                <p>Plugins <span>{{Plugwidth}}</span></p>
   <div class="progress">
    <div class="loading" style="width: {{Plugwidth}};"></div>
    </div>
                <p>Front end <span>{{Fronwidth}}</span></p>
                <div class="progress">
    <div class="loading" style="width: {{Fronwidth}};"></div>
    </div>
              </div>

              <div class="testimonial">
                <h1>Client Testimonials</h1>
                
                    <div class="client-test">
                      <img alt="" src="image/avatar2.jpg">
                      <h3>Collis Ta’eed - CEO at Envato</h3>
                    </div>
                    <p>Sollicitudin lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt.</p>
                  
              </div>

              <div class="services">
                <h1>Services</h1>
                <ul>
                  <li>Web Design</li>
                  <li>Photography</li>
                  <li>Plugin Development</li>
                  <li>Front End</li>
                  <li>Design from Scratch</li>
                  <li>Website Maintenance</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>






 
 </body>
</html>