<div class="services feature">
                <h1>Project Features</h1>
                <ul>
                  <li>Responsive Layout</li>
                  <li>Font Awesome Icons</li>
                  <li>Clean & Commented Code</li>
                  <li>Pixel perfect Design</li>
                  <li>Highly Customizable</li>
                </ul>
              </div>