 <div  style="left: {{anotherVar}}px;" class="menu" >
      
      <div id="Kappe" >
         <img src="image/logo.png">
      </div>

      <ul>
        <a href="#/home"><li>HOME</li></a>
        <a href="#/work"><li>WORK</li></a>
        <li><a href="#/single">Single Post</a></li>
        <li><a href="#/contact">BLOG</a></li>
        <li><a href="#">SERVICES</a></li>
        <li><a href="#/contact">CONTACT</a></li>
      </ul>
    </div>
   

<img ng-click="onButtonClick(anotherVar)"  id="icon-menu" class="icon-menu" src="image/menu.png">