@height: 100vh;
@font:'PT Sans',bold, sans-serif;
@fontp:'PT Sans',italic, sans-serif;
@pos:absolute;
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i');
@height: 100vh;
@width:100%;
body{
  margin:0px;
}
header{
  background: #fcdb00;
   position: @pos;
  width: @width;
      z-index: 100;
          margin-top: 4%;

}

#banner {
  background: #fcdb00;
  text-align: center;
  position: relative;
  height: @height;
}

#banner h1 {
  font-size: 48px;
  line-height: 60px;
  font-weight: 900;
  color:#222222;
  font-family: @font;
}
.inspire {
  font-size: 48px;
  line-height: 60px;
  font-weight: 900;
  text-align: center
  color:#222222;
  
    position: @pos;
        top: 40%;
    left: 30%;
}

.platform {
position: @pos;
top: 70%;
left :41%;
   }
.platform li {
    border: 1px solid #000; /* Рамка вокруг текста */
    padding: 3px; /* Поля вокруг текста */
   
    border-radius: 30px 30px 30px 30px;
   float: left;
   
    
   }

#apple{
   width: 41px;
    height: 47px;
    background: url(../image/store-buttons.png);
    background-position: -11px -147px;
    margin-right: 20px;
}
#android{
   width: 41px;
    height: 47px;
    background: url(../image/store-buttons.png);
    background-position: -115px -147px;
     
    margin-right: 20px;
}
#windows{
   width: 41px;
    height: 47px;
    background: url(../image/store-buttons.png);
    background-position: -219px -147px;
    
    margin-right: 20px;
}






   #features {
    background-color: white;
   height: 130vh;
   width: @width;
   position: relative;

   }
   #features p{
font-family: @fontp;
   }
#features h2 {
    margin-top: 0%;
    margin-bottom: 3%;
    padding-top: 5%;
    text-align: center;
width: @width;
   position: @pos;
   font-family: @font;
}
.top{
  text-align: center;
  margin-bottom: 5%;
width: @width;
margin-top: 10%;
   position: @pos;
   font-family: @fontp;
}
.fone{
  position: @pos;
  display: block;
  text-align: center;
  left: 41%;
  margin-top: 20%;
}

.log {
   position: @pos;
    display: block;
    text-align: center;
    left: 27%;
    top: 38%;
}
.left-block {
    text-align: left;
    width: 18%;
    margin-left: 12%;
    height: 0%;
    margin-top: 26%;
    position: @pos;
}


.right-block{
  text-align: left;
  width: 18%;
  margin-left: 70%;

   position: @pos;
        margin-top: 25%;
}








.subcrible{
background:#010101;
height: @height;
   width: @width;
   position: relative;
}
 #contact {
    background:#010101;
   height: @height;
   width: @width;
   position: relative;
   }

.subcrible h2 {
  color: #fcdb00;
    margin-top: 0%;
    margin-bottom: 3%;
    padding-top: 8%;
    text-align: center;
    font-family: @font;
}
.sub{
  color:#898989;
   font-family: @fontp;
   margin-top: 0%;

}
.mesg{
  max-width:740px; 
  width:@width; 
  display:block; 
     margin: 9% auto 1%;
}
.mesg input {
    width: 70%;
    background: #fff;
    border: 0;
    border-radius: 10px 10px 10px 10px;
    padding: 7px;
    outline: 0;
    height: 40px;
    color:#898989;
   font-family: @fontp;
}
 .mesg button{
  width:135px; 
  margin-left:10px; 
  background:#fcdb00; 
  border:0; 
  outline:0; 
  height:52px; 
  line-height:49px; 
  color:#010101; 
  font-weight:700;
border-radius: 10px 10px 10px 10px;
   font-family: @font;
}
footer{
  margin-top: 10%;
  position: relative;
}
footer a , footer address{
  display:block; 
color:#898989;
   font-family: @fontp;
 }

.block1 {
    text-align: left;
    width: 31%;
    margin-left: 39%;
    height: 0%;
    position: @pos;
}
.block2 {
    text-align: left;
    width: 20%;
    margin-left: 52%;
    height: 0%;
    position: @pos;
}
.block3 {
    text-align: left;
    width: 20%;
    margin-left: 65%;
    height: 0%;
    position: @pos;
}
.block4 {
    text-align: left;
    width: 20%;
    margin-left: 80%;
    height: 0%;
    position: @pos;
}

address{
  text-align: left;
  width: 20%;
  margin-left: 10%;
      height: 0%;
      position: @pos;
}







.icon {
  width: 10%;
  float: left;
  text-align: left;
}
.icon img {
    width: 18px;
    height: 20px;
    margin-left: 15px;
    margin-top: 21px;
}
.logo{
    width: 70%;
    float: left;
    text-align: center;
}

ul {
    margin: 0; /* Обнуляем значение отступов */
    padding: 4px; /* Значение полей */
    list-style: none;
   }
  
.hr li {
    margin-right: 2%; /* Отступ слева */
    border: 1px solid #000; /* Рамка вокруг текста */
    padding: 3px; /* Поля вокруг текста */
     margin-top: 15px;
    border-radius: 5px 5px 5px 5px;
    float: right;
   }

#facebook{
   width: 10px;
    height: 14px;
    background: url(../image/header.png);
    background-position: -153px -128px;
}
#twiter{
  width: 10px;
    height: 14px;
    background: url(../image/header.png);
      background-position: -186px -129px;
}
#google{
     width: 10px;
    height: 14px;
    background: url(../image/header.png);
    background-position: -187px -161px;
}
#p{
        width: 10px;
    height: 14px;
    background: url(../image/header.png);
    background-position: -249px -128px;
}

/* #Media Queries
================================================== */
@media only screen and (min-width: 992px) and (max-width: 1200px) {
.fone{
  left: 36%;
}
.left-block{
      margin-left: 7%;
}
}

@media only screen and (min-width: 768px) and (max-width: 991px) {


.fone{
  left: 30%;
}
.right-block {
    margin-left: 66%;
}
}


/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
#features {
  height: @height;
}
.left-block {
    margin-left: 26%;
    
    margin-top: 66%;
}
.right-block {
    margin-left: 70%;
    margin-top: 66%;
}

.fone {
    left: 27%;
    margin-top: 17%;
}
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
}
